.App {
    nav{
        .nav-links{
            
            display:flex;
            justify-content: space-evenly;
            font-weight:bold;
            a{
                color: grey;
            }
            a:hover{
                color:whitesmoke;
            }
            a:active{
                color:whitesmoke;
            }
        }
    }
}
.activeClass {
    color:whitesmoke;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding-right: .8rem;
    border-radius: 1.2rem;
}