.App {
    nav{
        .nav-links{
            
            display:flex;
            justify-content: space-evenly;
            font-weight:bold;
            a{
                color: grey;
            }
            a.active{
                color:whitesmoke;
            }
        }
    }


}